/* Made all contact go into 960px width */
.wrapper {
    margin: auto;
    width: 960px;
}

/* NAVBAR STYLING */
/* Add a background color and bottom border to the top navigation */
.topnav {
    background-color: #ffffff;
    border-bottom: 2px solid transparent;
    border-bottom-color: #dddddd;
    height: 60px;
}
/* Style the links inside the navigation bar */
nav {
    float: right;
    padding: 20px 16px;
    color: #777777;
  
}

nav a {
    color: #777777;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  }
  
  
  /* Change the color of links on hover */
 nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style the name */
#name {
    background-color: #4aaaa5;
    padding: 16px;
    color: #ffffff; 
    font-weight: bold;
    font-size: 25px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    line-height: 60px;
    text-decoration: none;
}

/* Added a background to the page */
body {
    background-image: url(../images/background.png);
    margin: 0px;
}

/* OVERALL ALL PAGES STYLING */
/* Adding background and border to main content */
.main-content {
    background-color: #ffffff;
    margin-top: 40px;
    margin-bottom: 50px;
    padding: 30px;
    border: 1px solid #dddddd;
}

/* Styling all headers */
#main-heading {
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #4aaaa5;
    padding: 10px 10px 30px 10px;
    margin: 0px 0px 25px 0px;
    border-bottom: 4px solid #dddddd ;

}


/* ABOUT PAGE STYLING */
/* Wrapping content around image */
#profile-pic {
    float: left; 
    padding: 10px;
}

#main-paragraph {
    font-size: 16px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
}

.profile-pic {
    float: left;
    margin: 100px;
}

/* PORTFOLIO PAGE STYLING */
#image {
    object-fit: cover;
}
.container {
    position: relative;
    text-align: center;
    color: #ffffff;
    display: inline-block;
    padding: 30px;
  }
  
  /* Style image description */
.description {
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4aaaa5;
    padding:17px 0px;
    width: 250px;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    font-size: 20px;
  }

  /* CONTACT PAGE STYLING */

/* Styling for titles above */
form {
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      color: #777777;
      line-height: 30px;
  }

/* Formatting the input size for name and email */
form input {
    width: 940px;
    height: 25px;
    margin-bottom: 15px;
    padding: 5px 10px;
    font-size: 15px;
}

/* Styling message input */
form textarea {
    width: 940px;
    height: 200px;
    padding: 5px 10px;
    border-color: #dddddd;
}

/* Changing format of button */
form button {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 10px 30px;
}

/* FOOTER */
/* Styling and positioning for footer */
footer {
    border-top: 7px solid #4aaaa5;
    background-color:#666666;
    position: absolute;
    height: 40px;
    width: 100%;
    margin-top: 100px;
    padding-top: 30px;
    text-align: center;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #cccccc;
}

.wrapper {
    /* vh means viewheight, basically 100vh = 100% of your screen while 50vh would be 50% of screen etc */
    /* height of footer is 60, therefore 60+60 = 120px */
    min-height: calc(100vh - 120px);
  }
